
/* ImageSliderControls.css */
.image-slider-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .image-slider-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 15px; /* Reduce padding to decrease space around the buttons */
    margin: 0 3px; /* Reduce margin to decrease space between the buttons */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .image-slider-controls button:hover {
    background-color: #0056b3;
  }
body {
    background-color: pink; 
  }
    